@charset "UTF-8";

html{
  /*height: 100%;*/
}

body{
  background: linear-gradient(135deg, #006598, #000000);
  margin: 0;
  height: 100%;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

img{
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.inner{
	width: 90%;
	margin: 0 auto;
}

header{
  width: 100%;
  margin-top: 0px;
  padding: 10px 0;
  background: #fff;
  position: fixed;
  top: 0px;
}

header .inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1{
  width: 160px;
  margin-right: auto;
}

header nav {
  margin-right: -16px;
}

header nav ul{
  display: flex;
  align-items: center;
}

header nav ul li a{
  color: #000;
  text-decoration: none;
  font-weight: bold;
  padding: 16px ;
}

#nav_toggle{
  display: none;
}

/*バナー*/
.banner{
  margin-top: 75px;
}

/*本文*/ 
.main{
  background: #fff;
  margin: 20px auto;
  margin-top: 10px;
  padding: 30px;
  width: 650px;
}
.main h3{
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 5px;
  background-color: #009;
  color: #fff;
}
.main h3:first-child{
  margin-top: 0px;
}

.main img.left{
  height: 200px;
  width: auto;
  float: left;
  margin-right: 20px;
}
.main img.right{
  height: 200px;
  width: auto;
  float: right;
  margin-left: 20px;
}

.main p{
  text-indent: 1em;
  line-height: 150%;
  margin-bottom: 20px;
}
.main ul{
  margin-left: 50px;
  list-style: disc;
}
.main a{
  text-decoration: none;
  color: #006;
}
.main a.startbtn {
  display: block;
  text-align: center;
  margin: 3px;
  padding: 5px;
  color: black;
  text-decoration: none;
  border: 1px solid #000;
  background-color: #eee;
}

footer p{
  margin: 20px auto;
  /*background-color: #f00;*/
  width: 650px;
  color: #fff;
}

/*スマホ・タブレット用の設定*/
@media screen and (max-width:780px){
  header{
    padding: 16px 0;
    position: fixed;
  }

  /*
  h1{
    width: 120px;
  }
  */
  .inner{
    width: 90%;
  }
  #main_img{
    width: 100%;
  }

  .change_btn{
    width: 90%;
    margin: 32px auto;
  }
	
  /*メニュー部分*/
  nav{
    display: none;
    position: absolute;
    top:72px;
    width: 100%;
	background: #006598;
    left: 0;
  }

  header nav ul{
    display: block;
    margin: 0 auto;
    width: 90%;
  }
  header nav ul li{
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #000;
  }
  header nav ul li:last-child{
    border: none;
  }
  header nav ul li a{
	display: block; 
	color: #ffffff;
  }
		
  /*開閉ボタン*/
  #nav_toggle{
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    top: 4px;
    z-index: 100;
  }
  #nav_toggle div {
    position: relative;
  }
  #nav_toggle span{
    display: block;
    height: 3px;
    background: #000;
    position:absolute;
    width: 100%;
    left: 0;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;	
  }
  #nav_toggle span:nth-child(1){
    top:0px;
  }
  #nav_toggle span:nth-child(2){
    top:12px;
  }
  #nav_toggle span:nth-child(3){
    top:24px;
  }

  /*開閉ボタンopen時*/
  .open #nav_toggle span:nth-child(1) {
    top: 12px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .open #nav_toggle span:nth-child(2) {
    width: 0;
    left: 50%;
  }
  .open #nav_toggle span:nth-child(3) {
    top: 12px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  /*バナー*/
  /*
  .banner{
    margin-top: 0px;
  }
  */

  .main {
    width: 90%;
  }
}
